.deleteRestaurantButton {
    font-size: 28px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 80%;
}

.restaurantDataDateInput2 {
    margin-left: calc(50% - 150px);
    margin-right: calc(50% - 150px);
    margin-top: 15px !important;
    width: 300px !important;
    /* float: right; */
}

.adminDataUtilization {
    float: right;
    padding: 5px;
}

.reloadButtonTimes {
    font-size: 20;
    margin-left: calc(50% - 150px);
    margin-right: calc(50% - 150px);
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    width: 300px !important;
    /* float: right; */
    font-family: Lucida Sans Unicode
}

.restaurantDataContainer {
    background-color: var(--tertiary);
    border-radius: var(--border-radius);
    font-size: 20px;
    width: 50%;
    height: 92%;
    overflow-y: scroll;
    padding-bottom: 15px;
    float:left;
}

.deleteRestaurantContainer {
    background-color: var(--primary);
    border-radius: var(--border-radius);
    margin-left:5%;
    margin-right: 5%;
    margin-top: 20px;
    width: 40%;
    float: right;
}

.reportContainer {
    background-color: var(--primary);
    border-radius: var(--border-radius);
    margin-left:5%;
    margin-right: 0% !important;
    margin-top: 20px;
    width: 45%;
    height: 400px;
    float: left;
}

.reloadButton {
    font-size: 28px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 20%;
    float:left;
    font-family: Lucida Sans Unicode
}

.restaurantsHeader {
    font-size: 28px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 40%;
    float:left;
}

.listContainer{
    font-size: 28px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 80%;
    background-color: var(--secondary);
    float:left;
    border-radius: 5px;
}

.adminDropdown {
    background-color: white;
    display: inline-block;
    font-size: 28px;
    margin-top: 20px !important;
    margin-left: 10% !important;
    margin-right: 5%;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80% !important;
    margin-right: auto;
    border-radius: 5px;
}

.restaurantsText {
    font-size: 28px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 80%;
}

.restaurantDataTableTime {
    background-color: var(--secondary);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    font-weight: 600;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 7px;
    padding-right: 10px;
    text-align: center;
    width: 20%!important;
}

.createRestaurantSubcontainer {
    background-color: var(--primary);
    display: inline-block;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 45%;
}

.createRestaurantTitle {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.createRestaurantSubtitle {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    width: 100%;
}