@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #fffcf0;
    --border-radius: 10px;
    --error: #e76f51;
    --primary: #b9cec2;
    --secondary: #f6e7cb;
    --tertiary: #adadad;
    --text: #272727;
}

button {
    background-color: var(--secondary);
    border-radius: 5px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    width: 100%;
}

body {
    background-color: var(--background);
    color: var(--text);
}

input[type=password] {
    background-color: var(--background);
    border-radius: calc(var(--border-radius)/2);
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

input[type=text] {
    background-color: var(--background);
    border-radius: calc(var(--border-radius)/2);
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

.notification {
    /* z-index to show it on top of other elements if you have other modals. */
    z-index: 100;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    width: 20%;
    height: 8vh;
  
    background-color: gray;
    color: white;
  }