@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #fffcf0;
    --error: #e76f51;
    --primary: #b9cec2;
    --secondary: #f6e7cb;
    --text: #272727;
}

body {
    background-color: var(--background);
    color: var(--text);
}