.search-container {
    display: inline-block;
    background-color: var(--tertiary);
    border-radius: var(--border-radius);
    margin-left: 5%;
    margin-right: auto;
    margin-top: 5%;
    width: 30%;
}

.restaurant-container {
    display: inline-block;
    border-radius: var(--border-radius);
    margin-left: 5%;
    margin-right: auto;
    margin-top: 5%;
    width: 50%;
}

.restaurant-item {
    padding: 10px;
    margin: 5px;
    background-color: var(--tertiary);
    border-radius: 4px;
}

.find-reservation-container {
    display: inline-block;
    background-color: var(--tertiary);
    border-radius: var(--border-radius);
    margin-left: 5%;
    margin-right: auto;
    margin-top: 5%;
    width: 30%;
}



.reservation-subcontainer {
    background-color: white;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    text-align: center;
    border-radius: 10px;
}

.search-input {
    background-color: white;
    display: inline-block;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90% !important;
    margin-right: auto;
}

.dropdown {
    background-color: white;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    margin-right: auto;
}

.time-button {
    background-color: var(--primary);
    font-size: 16px;
    width: 10%;
    margin: 2%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.time-button:hover {
    background-color: #ddd;
}

.time-button.selected {
    background-color: black; /* Change to your desired highlight color */
    color: white;
}

.create-res-button {
    display: inline-block;
    background-color: var(--primary);
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 60%;
}

.search-button {
    background-color: var(--primary);
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 60%;
}

.find-reservation-button {
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 60%;
}

.cancel-reservation-button {
    background-color: rgb(241, 45, 84);
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 60%;
}