.restaurant-closings-container {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.restaurant-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: calc(100%/3) calc(100%/3) calc(100%/3);
}

.restaurant-data-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
}

    .restaurant-data-timeslot {
        display: inline-block;
        width: 20%;
    }

.restaurant-schedule-container {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

    .restaurant-schedule-day-container {
        display: inline-block;
        width: calc(80%/7);
    }

    .restaurant-schedule-tables-container {
        width: 100%;
    }

.restaurant-status-container {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

.restaurant-title {
    text-align: center;
}