@import url('../globals.css');

.restaurant-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    height: calc(100vh - 320px);
    margin-left: auto;
    margin-right: auto;
    width: calc(100vw - 40px);
}

    .restaurant-container-title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
    }
        
    .restaurant-controls-container {
        align-items: flex-start;
        display: flex;
        flex: 1;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
    }
        .restaurant-closings-container {
            align-content: flex-start;
            align-items: flex-start;
            background-color: var(--tertiary);
            border-radius: var(--border-radius);
            box-shadow: var(--box-shadow);
            display: flex;
            flex: 4;
            flex-wrap: wrap;
            gap: 0;
            height: fit-content;
            justify-items: flex-start;
            overflow-y: scroll;
            padding: 20px;
            width: 100%;
        }

            .restaurant-closings-date-container {
                display: flex;
                flex-direction: row;
                flex: 1;
                max-width: fit-content;
            }

                .restaurant-closings-add {
                    background-color: var(--success);
                    height: 35px;
                    text-align: center;
                    width: 35px;
                }

                    .restaurant-closings-add-text {
                        font-size: 12px;
                        font-weight: 700;
                        text-align: center;
                        transform: translateY(-2.5px) scale(2);
                    }

                .restaurant-closings-date {
                    height: 35px;
                    margin-left: 10px;
                    max-width: fit-content;
                }

                .restaurant-closings-delete {
                    background-color: var(--error);
                    height: 35px;
                    text-align: center;
                    width: 35px;
                }

                    .restaurant-closings-delete-text {
                        color: var(--background);
                        font-size: 12px;
                        font-weight: 700;
                        text-align: center;
                        transform: translateY(-2.5px) scale(2);
                    }

        .restaurant-data-container {
            background-color: var(--tertiary);
            border-radius: var(--border-radius);
            box-shadow: var(--box-shadow);
            flex: 1;
            font-size: 20px;
            height: 100%;
            overflow-y: scroll;
            padding: 20px;
        }

            .restaurant-data {
                border-radius: var(--border-radius);
                margin-left: auto;
                margin-right: auto;
                margin-top: 20px;
                padding: 20px;
                width: calc(100% - 30px);
            }

            .restaurant-data-date-input {
                margin-left: calc(50% - 150px);
                margin-right: calc(50% - 150px);
                margin-top: 15px !important;
                width: 300px !important;
            }

            .restaurant-data-table {
                background-color: var(--success);
                border-radius: 5px;
                box-shadow: var(--box-shadow);
                margin-left: 5px;
                margin-right: 5px;
                margin-top: 2px;
                padding: 5px;
                padding-left: 10px;
                padding-right: 10px;
                width: fit-content;
            }

                .reserved {
                    background-color: var(--error);
                    color: var(--background);
                }

            .restaurant-data-table-time {
                background-color: var(--secondary);
                border-radius: 5px;
                box-shadow: var(--box-shadow);
                font-weight: 600;
                margin-bottom: 10px;
                margin-right: 10px;
                max-width: fit-content;
                padding: 7px;
                padding-right: 10px;
                text-align: center;
            }

            .restaurant-data-timeslot {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 30px;
                margin-top: 5px;
            }

            .restaurant-data-timeslot-container {
                margin-left: auto;
                margin-right: auto;
                width: 95%;
            }

            .restaurant-data-utilization {
                float: right;
                padding: 5px;
            }

        .restaurant-schedule-container {
            background-color: var(--tertiary);
            border-radius: var(--border-radius);
            box-shadow: var(--box-shadow);
            flex: 3;
            margin-top: 20px;
            overflow-y: scroll;
            padding: 20px;
            width: 100%;
        }

            .restaurant-schedule-days-container {
                display: flex;
                margin-left: auto;
                margin-right: auto;
                width: calc(100% - 60px);
            }

                .restaurant-schedule-title-container {
                    width: 50px;
                }

                    .restaurant-schedule-title {
                        font-weight: 600;
                        height: 35px;
                        line-height: 35px;
                        margin-bottom: 10px;
                        margin-top: 5px;
                    }

                .restaurant-schedule-day-container {
                    flex: 1;
                    margin-left: 10px;
                    margin-right: 10px;
                    text-align: center;
                }

                    .restaurant-schedule-day {
                        border-bottom: 2px solid var(--text);
                        font-weight: 600;
                        height: 35px;
                        line-height: 35px;
                        margin-bottom: 5px;
                        margin-top: 5px;
                    }

                    .restaurant-schedule-timeslot {
                        height: 35px;
                        margin-bottom: 5px;
                        margin-top: 5px;
                    }

                    .restaurant-schedule-update-timeslot {
                        background-color: var(--success);
                        height: 35px;
                    }

        .restaurant-tables-container {
            background-color: var(--tertiary);
            border-radius: var(--border-radius);
            box-shadow: var(--box-shadow);
            display: flex;
            flex: 2;
            flex-wrap: wrap;
            margin-top: 20px;
            overflow-y: scroll;
            padding: 20px;
            width: 100%;
        }

            .restaurant-tables-counts-container {
                display: flex;
                width: calc(100% - 150px);
            }

                .restaurant-tables-count-container {
                    flex: 1;
                    margin-left: 10px;
                    margin-right: 10px;
                }

                    .restaurant-tables-count {
                        height: 35px;
                        margin-left: 5%;
                        margin-right: 5%;
                        max-width: 90%;
                        text-align: center;
                    }

                    .restaurant-tables-occupancy {
                        border-bottom: 2px solid var(--text);
                        font-weight: 600;
                        height: 35px;
                        line-height: 35px;
                        text-align: center;
                    }

                    .restaurant-tables-update-count {
                        background-color: var(--success);
                        height: 35px;
                    }

            .restaurant-tables-title-container {
                width: 150px;
            }

                .restaurant-tables-title {
                    height: 35px;
                    font-weight: 600;
                    line-height: 35px;
                    margin-bottom: 5px;
                }

    .restaurant-details-container {
        flex: 2;
        height: 100%;
    }

        .restaurant-details-close {
            background-color: var(--error);
            height: 50px;
            float: right;
            margin-right: 20px;
            margin-top: 20px;
            text-align: center;
            width: 50px;
        }

            .restaurant-details-close-text {
                color: var(--background);
                font-size: 20px;
                font-weight: 700;
                text-align: center;
                transform: translateY(-2.5px) scale(2);
            }

.restaurant-status-container {
    background-color: var(--tertiary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: flex;
    height: 80px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
    
    .restaurant-status-button {
        box-shadow: var(--box-shadow);
        height: 60px;
        flex: 1;
        margin-bottom: auto;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: auto;
    }

.restaurant-title {
    font-size: 48px;
    font-weight: 600;
    height: 100px;
    padding-top: 20px;
    text-align: center;
    text-decoration: underline;
}