@import url("../../globals.css");

.alert-background {
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
    height: 100vw;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 100;
}

.alert-body {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    width: calc(100% - 40px);
}

.alert-container {
    background-color: var(--secondary);
    border: 3px solid var(--error);
    border-radius: var(--border-radius);
    left: calc(50vw - 500px/2);
    position: absolute;
    top: calc(50vh - 300px/2);
    width: 500px;
    z-index: 101;
}

.alert-header {
    background-color: var(--primary);
    border-radius: var(--border-radius);
    font-size: 40px;
    font-weight: 600;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    width: calc(100% - 40px);
}

.alert-hint {
    margin-bottom: 10px;
    text-align: center;
}