.restaurant-details-submit-button {
    font-size: 28px;
    margin-bottom: 20px;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 30%;
}

.restaurant-details-container {
    background-color: var(--primary);
    border-radius: var(--border-radius);
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.restaurant-details-subcontainer {
    background-color: var(--primary);
    display: inline-block;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 45%;
}

.restaurant-details-title {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 50px;
    text-align: center;
    width: 100%;
}

.restaurant-details-subtitle {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    width: 100%;
}